extends ./layouts/main.jade

block content
  .row
    form.col.s6.offset-s3(method='post')
      p.flow-text เข้าสู่ระบบ
      .row
        .input-field.col.s12
          i.material-icons.prefix account_circle
          input#username.validate(name='username', type='text', value='Panwit')
          label(for='username') Username
      .row
        .input-field.col.s12
          i.material-icons.prefix vpn_key
          input#password.validate(name='password', type='password', value='itkmitl')
          label(for='password') Password
      button.col.s3.offset-s9.waves-effect.waves-light.orange.darken-1.btn
        i.material-icons.left send
        | เข้าสู่ระบบ
