<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
    <head>
        <title>Login</title>
    </head>
    <body>
        <div th:fragment="content">
            <div class="row">
                <div class="col s3">
                    <div th:include="menu :: menu" class="collection with-header"></div>
                </div>
                <div class="col s9">
                    <p th:if="${session.user.isTeacher()}" th:inline="text">ยินดีต้อนรับ [[${session.user.teacher}]]</p>
                </div>
            </div>
        </div>

    </body>
</html>
