html
  body(style='width: 21cm;height:29.7cm;')
    p(align='center')
      strong
        u แบบใบลาพักผ่อน
      strong
        u
    p(align='right')
      | เขียนที่ คณะเทคโนโลยีสารสนเทศ
    p(align='right')
      | วันที่............เดือน....................พ.ศ. ..................
    p
      | เรื่อง ขอลาพักผ่อน
    p
      | เรียน คณบดีคณะเทคโนโลยีสารสนเทศ
    p(style='padding-left: 5em;')
      | ข้าพเจ้า ................................................................................................ ตำแหน่ง
      | ..................................................
    p
      | สังกัด
      | .....................................................................................................................................................................................
    p
      | มีวันลาพักผ่อนสะสม................วันทำการ มีสิทธิลาพักผ่อนประจำปีนี้อีก 10 วันทำการ รวมเป็น....................วันทำการ
    p
      | ขอลาพักผ่อนตั้งแต่วันที่...................................................ถึงวันที่.................................................มีกำหนด..................วัน
    p
      | ในระหว่างลาจะติดต่อข้าพเจ้าได้ที่
    p
      | .............................................................................................................................................................................................
    p
      | .............................................................................................................................................................................................
    table(border='0', cellspacing='0', cellpadding='0', width='100%')
      tbody
        tr
          td(width='50%', valign='top')
            p(align='center')
              | สถิติการลาในปีงบประมาณนี้
            table(border='1', cellspacing='0', cellpadding='0')
              tbody
                tr
                  td(height='60',   width='96', valign='top')
                    p(align='center')
                      | ลามาแล้ว
                    p(align='center')
                      | (วันทำการ)
                  td(width='90', valign='top')
                    p(align='center')
                      | ลาครั้งนี้
                    p(align='center')
                      | (วันทำการ)
                  td(width='91', valign='top')
                    p(align='center')
                      | รวมเป็น
                    p(align='center')
                      | (วันทำการ)
                tr
                  td(height='50', width='96', valign='top')
                  td(width='90', valign='top')
                  td(width='91', valign='top')
            p
              | (ลงชื่อ)..................................................ผู้ตรวจสอบ
            p
              | (ตำแหน่ง)...นักบริหารทรัพยากรบุคคล.....
            p
              | วันที่................/.................../.......................
            p
              strong
                u หมายเหตุ
              |                     ผู้ปฏิบัติงานแทนระหว่างลาครั้งนี้
            p
              | ลงชื่อ)..........................................................
            p
              | (.........................................................)
            p
              | วันที่................/.................../.......................
          td(width='50%', valign='top')
            p(align='center')
              | ขอแสดงความนับถือ
            p
              | (ลงชื่อ).............................................................................
            p
              | (..........................................................................)
            p
              strong ความเห็นผู้บังคับบัญชา
              strong
            p
              | .......................................................................................
            p
              | .......................................................................................
            p
              | (ลงชื่อ)...........................................................................
            p
              | (ตำแหน่ง)......................................................................
            p
              | วันที่................./......................./........................
            p
              strong คำสั่ง
              strong
            p
              |  อนุญาต  ไม่อนุญาต
            p
              | .....................................................................................
            p
              | .....................................................................................
            p
              | (ลงชื่อ).........................................................................
            p
              | (ตำแหน่ง) คณบดีคณะเทคโนโลยีสารสนเทศ
            p
              | วันที่................./......................./......................
