extends ../layouts/member.jade
block append script
  script.
    $(document).ready(function () {
        selectChange();
        var yesterday = new Date();
        yesterday.setDate(yesterday.getDate() - 1);
        var min_date = -1;
        if (yesterday.getDay() === 6) {
            min_date = -2;
        }
        else if (yesterday.getDay() === 7) {
            min_date = -3;
        }
        $('.datepicker').pickadate({
            monthsFull: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            weekdaysFull: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
            weekdaysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
            format: 'dd-mm-yyyy',
            min: min_date,
            disable: [
                1, 7
            ],
            onClose: function() {
                calDay();
                $("#endAtA").val($("#startAtA").val());
                $("#endAtM").val($("#startAtM").val());
            }
        });
    });
block rcontent
  p.flow-text แบบฟอร์มลากิจ
  form(action='#{url.create("/leave/personal")}', method='post')
    input(type='hidden', name='leaveType', value='2')
    .row
      .input-field.col.s4 ชื่อ-นามสกุล*
      .input-field.col.s8
        input#th_name.validate(name='th_name', placeholder='ชื่อ-นามสกุล', type='text', th:value='${session.user.toString()}', disabled='')
        label(for='th_name') ชื่อ-นามสกุล
    .row
      .input-field.col.s4 ตำแหน่ง*
      .input-field.col.s8
        input#section.validate(name='section', placeholder='ตำแหน่ง', type='text', th:value='${session.user.section.thName}', disabled='')
        label(for='section') ตำแหน่ง
    hr
    .row
      .input-field.col.s4 สาเหตุการลา*
      .input-field.col.s8
        input#reason.validate(name='reason', placeholder='ตำแหน่ง', type='text', required='')
        label(for='reason') สาเหตุการลา
    hr
    .row
      .col.s4 วันที่ลา*
      .col.s8
        .row
          .col.s2
            input#morning(type='radio', name='timeType', value='2')
            label(for='morning') ช่วงเช้า
          .col.s10
            .row
              .input-field.col.s12
                input#startAtM.datepicker(name='leaveStartAt', placeholder='วันที่', type='text', disabled, required='')
                input#endAtM(type="hidden", name='leaveEndAt', disabled)
                label(for='startAtM') วันที่
                ช่วงเช้าเวลา 08.30 - 12.00 น.
        .row
          .col.s2
            input#afternoon(type='radio', name='timeType', value='3')
            label(for='afternoon') ช่วงบ่าย
          .col.s10
            .row
              .input-field.col.s12
                input#startAtA.datepicker(name='leaveStartAt', placeholder='วันที่', type='text', disabled, required='')
                input#endAtA(type="hidden", name='leaveEndAt', disabled)
                label(for='startAtA_date') วันที่
                ช่วงบ่ายเวลา 13.00 - 16.30 น.
        .row
          .col.s2
            input#full(type='radio', name='timeType', value='1', checked)
            label(for='full') เต็มวัน
          .col.s10
            .row
              .col.s12
                input#startAt.datepicker(name='leaveStartAt', placeholder='ตั้งแต่', type='text', required='')
                label(for='startAt') ตั้งแต่
            .row
              .col.s12
                input#endAt.datepicker(name='leaveEndAt', placeholder='ถึง', type='text', required='')
                label(for='endAt') ถึง
    hr
    .row
      .col.s4 จำนวนวันที่เหลือที่สามารถลาได้
      .input-field.col.s8 #{remain} วัน
    hr
    .row
      .col.s4 จำนวนวันที่ลา
      .input-field.col.s8
        span#total 0 
        | วัน
    hr
    .row
      .col.s4 ช่องทางการติดต่อ*
      .input-field.col.s8
        include ./components/contact.jade
    hr
    button.btn.waves-effect.waves-light
      | ส่งแบบฟอร์ม
      i.material-icons.right send
