<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
    <head>
        <title>Leave System :: ลาป่วย</title>
    </head>
    <body>
        <div th:fragment="content">
            <div class="row">
                <div class="col s3">
                    <div th:include="menu :: menu" class="collection with-header"></div>
                </div>
                <div class="col s9">
                    <p class="flow-text">แบบฟอร์มลาป่วย</p>
                    <form th:action="@{/leave/sick}" th:object="${LeaveForm}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="leave_type" value="sick" />
                        <div class="row">
                            <div class="input-field col s4">ชื่อ-นามสกุล*</div>
                            <div class="input-field col s8">
                                <input name="th_name" placeholder="ชื่อ-นามสกุล" id="th_name" type="text" class="validate" th:value="${session.user.toString()}" disabled="" />
                                <label for="th_name">ชื่อ-นามสกุล</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">ตำแหน่ง*</div>
                            <div class="input-field col s8">
                                <input name="section" placeholder="ตำแหน่ง" id="section" type="text" class="validate" th:value="${session.user.section.thName}" disabled="" />
                                <label for="section">ตำแหน่ง</label>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="input-field col s4">สาเหตุการลา*</div>
                            <div class="input-field col s8">
                                <input name="reason" placeholder="ตำแหน่ง" id="reason" type="text" class="validate" required=""/>
                                <label for="reason">สาเหตุการลา</label>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col s4">วันที่ลา*</div>
                            <div class="col s8">
                                <div class="row">
                                    <div class="col s2">
                                        <input type="radio" name="period" id="half" value="half" />
                                        <label for="half">ครึ่งวัน</label>
                                    </div>
                                    <div class="col s10">
                                        <div class="row">
                                            <div class="col s2">วันที่ </div>
                                            <div class="input-field col s10">
                                                <input name="period_date" placeholder="วันที่" id="period_date" type="text" class="validate" />
                                                <label for="period_date">วันที่</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s6">
                                                <input type="radio" name="period_time" id="morning" value="morning" />
                                                <label for="morning">ช่วงเช้า (8.30 - 12.00 น.)</label>
                                            </div>
                                            <div class="col s6">
                                                <input type="radio" name="period_time" id="afternoon" value="afternoon" />
                                                <label for="afternoon">ช่วงบ่าย (13.00 - 16.30 น.)</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s2">
                                        <input type="radio" name="period" id="full" value="full" />
                                        <label for="full">เต็มวัน</label>
                                    </div>
                                    <div class="col s10">
                                        <div class="row">
                                            <div class="col s12">
                                                <input name="start_at" placeholder="ตั้งแต่" id="start_at" type="text" class="validate" required="" />
                                                <label for="start_at">ตั้งแต่</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col s12">
                                                <input name="end_at" placeholder="ถึง" id="end_at" type="text" class="validate" required="" />
                                                <label for="end_at">ถึง</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col s4">จำนวนวันที่เหลือที่สามารถลาได้</div>
                            <div class="input-field col s8">XX วัน</div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col s4">จำนวนวันที่ลา</div>
                            <div class="input-field col s8">XX วัน</div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col s4">ช่องทางการติดต่อ*</div>
                            <div class="input-field col s8">
                                <input name="contact" placeholder="ช่องทางการติดต่อ" id="contact" type="text" class="validate" th:value="${session.user.getMobile()} != null ? 'เบอร์โทรศัพท์ ' +  ${session.user.getMobile()}: ''" required="required" />
                                <label for="contact">ช่องทางการติดต่อ</label>
                            </div>
                        </div>
                        <hr />  
                        <div class="row">
                            <div class="col s4">ใบรับรองแพทย์</div>
                            <div class="col s8 file-field input-field">
                                <div class="btn">
                                    <span>เลือกรูปภาพ</span>
                                    <input name="medical_certificate" type="file" />
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="เลือกรูปภาพใบรับรองแพทย์" />
                                </div>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light">ส่งแบบฟอร์ม<i class="material-icons right">send</i></button>
                    </form>
                </div>
            </div>
        </div>

    </body>
</html>
