if errors
  ul
    for error in errors
      li
        if error.getCode()
          #{error.getCode()} :: #{error.getDefaultMessage()}
        else
          #{error.getField()} :: #{error.getDefaultMessage()}
